nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.vertical-centering {
  display: flex;
  vertical-align: middle;
}

.App {
  margin: 0 10vw;
  width: 100%;
}
